/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: xx-small;
}

@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, rgb(133, 10, 1), rgb(255, 150, 30));
  font-family: "Sansita Swashed", cursive;
}

/* Layout */

.middle {
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
  text-align: center;
}

[type="text"] {
  text-align: center;
}

.label {
  width: 90px;
  text-align: center;
}

#nameInput {
  width: 175px;
}

[class="confirm-button"] {
  width: 90px;
  margin: 0 auto;
}

p {
  width: 4000px;
}
